<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Order Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <a [routerLink]="['/new_menu']" >
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf = "current_user != undefined && current_user.user_level == 9"><i class="fa fa-cutlery fa-1x icon" aria-hidden="true"></i>Add New Munu </button>
      </a>
      <a [routerLink]="['/new_user']" >
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf = "current_user != undefined && current_user.user_level == 9"><i class="fa fa-user-o fa-lg icon" aria-hidden="true"></i>Add New User </button>
      </a>
      <a [routerLink]="['/login']" >
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf = "current_user == undefined"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in </button>
      </a>
      <button *ngIf="current_user != undefined" class="btn btn-danger" (click) = "logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</button>

    </div>

  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container">
  <div class="checkout">
    <div class="card mb-3" id="sideCard">
      <h3 class="card-header">Food Truck Info:</h3>
      <div class="card-body">
        <h5 class="card-title">Food Name:</h5>
      </div>
      <img style="height: 200px; width: 300px; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      alt="Card image">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
  <app-checkout class="checkout"></app-checkout>
  
</div>



<footer id="myFooter">
  <div class="social-networks">
    <a href="#" class="twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#" class="facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="#" class="google">
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Kevin Ke </p>
  </div>
</footer>





</body>

</html>
