<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Order Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <a [routerLink]="['/new_menu']">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="current_user != undefined && current_user.user_level == 9">
            <i class="fa fa-cutlery fa-1x icon" aria-hidden="true"></i>Add New Munu </button>
        </a>
        <a [routerLink]="['/new_user']">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="current_user != undefined && current_user.user_level == 9">
            <i class="fa fa-user-o fa-lg icon" aria-hidden="true"></i>Add New User </button>
        </a>

      </div>
      <a [routerLink]="['/login']">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" *ngIf="current_user == undefined">
          <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Log in </button>
      </a>

      <button *ngIf="current_user != undefined" class="btn btn-danger" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
      </button>

    </div>
  </nav>
  <div class="jumbotron">

  </div>

  <div class="container" id="menu">
    <div class="checkout">
      <div class="card mb-3" id="sideCard">
        <h2 class="card-header">Food Truck Info:</h2>
        <img style="height: 200px; width: 300px; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
          alt="Card image">
        <div class="card-body">
          <p class="card-text">Here is the foods that we sell!!!</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price:</li>
          <li class="list-group-item">Description:</li>
        </ul>
        <div class="card-body">
          <a class="card-link">
            <button class="btn btn-danger">Cancel</button>
          </a>
        </div>
        <div class="card-footer text-muted">
          Today is day!
        </div>
      </div>
    </div>
    <app-checkout class="checkout"></app-checkout>

  </div>



  <footer id="myFooter">

    <div class="container">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>

    <div class="social-networks">
      <a href="#" class="twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="google">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div class="footer-copyright">
      <p>© 2017 Kevin Ke </p>
    </div>
  </footer>





</body>

</html>
