<div id="checkout">
  <div class="card mb-3">
    <h3 class="card-header">Check Out List</h3>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
    </div>

    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Total:</li>
    </ul>
    <div class="card-body">
      <button style="float: right;" class="btn btn-danger">
        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
    </div>
    <div class="card-footer text-muted">
      Thank you for your interest!!! :)
    </div>
  </div>
</div>
